


.pic-ctn {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.pic-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.pic {
  width: calc(100% / 3);
  height: 100%;
}

.prev-button,
.next-button {
  position: absolute;
  top: calc(50% - 20px);
  font-size: 40px;
  border: none;
  background-color: transparent;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.button-ctn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.active {
  background-color: white;
}


.history_title {
  max-width: 1440px;
  margin: 1% auto;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 130%;
  align-items: center;
  text-align: center;
}

.history_upper {
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #dc780b;
}

.history_lower {
  max-width: 1440px;
  font-family: "AstoriaMedium";
  font-size: 80px;
  line-height: 79px;
  align-items: center;
  text-align: center;
  color: #6fa12b;
}

.sub_title {
  max-width: 1440px;
  margin: 4% auto;
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  align-items: center;
  text-align: justify;
  color: #656c73;
}

.sub_title p {
  margin-top: 3%;
}

.founder_title {
  max-width: 1440px;
  margin: 1% auto;
  margin-top: 3%;
  font-family: "Helvetica";
  font-style: normal;
  line-height: 130%;
  align-items: center;
  text-align: center;
}

.founder_upper {
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #dc780b;
}

.founder_lower {
  max-width: 1440px;
  margin-bottom: 4%;
  font-family: "AstoriaMedium";
  font-size: 80px;
  line-height: 79px;
  align-items: center;
  text-align: center;
  color: #6fa12b;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.contact-form label {
  font-family: "Helvetica";
  font-style: normal;
  margin-bottom: 10px;
  color: #656C73;
  text-align: left;
  width: 60%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: #FBF1E7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 60%;
  box-sizing: border-box;
}

.contact-form button[type="submit"] {
  background-color: #6fa12b;
  margin-top: 1%;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 25%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
  background-color: #70a12bbe;
}


.footer{
  position: relative;
  padding-block: 3rem 2rem;
  margin-top: 1rem;
  overflow: hidden;
}

.footer-container{
  row-gap: 3rem;
}

.footer-logo{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-family: var(--title-font);
  margin-bottom:  1rem;
  transition: color .3s;
}

.footer-logo img{
  width: 25px;
}

.footer-description,
.footer-link,
.footer-information{
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.footer-content,
.footer-links{
  display: grid;
}

.footer-content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem;
}

.footer-title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer-links{
  row-gap: .5rem;
}

.footer-link{
  color: var(--text-color);
  transition: color .3s;
}

.footer-link:hover{
  color: var(--subtitle-color);
}

.footer-social{
  display: flex;
  column-gap: 1.25rem;
}

.footer-social-link{
  color: var(--title-color);
  font-size: 1.25rem;
  transition: color .3s, transform .3s;
}

.footer-social-link:hover{
  color: var(--title-color);
  transform: translateY(-2px);
}

.footer-info,
.footer-card{
  display: flex;
}

.footer-info{
  margin-top: 6.5rem;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-card{
  column-gap: 1rem;
  justify-content: center;
}

.footer-card img{
  width: 35px;
}

.footer-copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.nav-toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-buttons{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

body.dark-theme{
  --title-color: #DC780B;
  --title-color-lighten: hsl(31, 90%, 43%);
  --subtitle-color: #6FA12B;
  --text-color: #FAFFF4;
  --body-color: #151515;
  --container-color: hsl(19, 10%, 10%);
}